body {
  background: #2b2b2b;
}
.center {
  box-sizing: border-box;
  border-radius: 73%/206px; /* This will create an ellipse shape */
  position: absolute;
  width: 488px;
  height: 272px;
  left: 493px;
  top: 59px;

  background: url(related-1.jpg);
  border: 5px solid #2c2b30;
}
p {
  font-size: 100px;
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  color: aliceblue;
  position: absolute;
  bottom: 270px;
  padding-left: 466px;
}
.container {
  position: absolute;
  bottom: 40px;
  display: flex;
  flex-direction: row;
  padding-left: 105px;
  border-radius: 2px;
}
#eotm {
  width: 200px;
  height: 217px;
  border: 2px solid white;
  padding-left: 20px;
  margin: 40px;
  border-radius: 32px;
}
#competition {
  width: 200px;
  height: 217px;
  border: 2px solid white;
  padding-left: 20px;
  margin: 40px;
  border-radius: 32px;
}

#workshop {
  width: 200px;
  height: 217px;
  border: 2px solid white;
  padding-left: 20px;
  margin: 40px;
  border-radius: 32px;
}

#other {
  width: 200px;
  height: 217px;
  border: 2px solid white;
  padding-left: 20px;
  margin: 40px;
  border-radius: 32px;
}
